body {
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%);
    display: grid;
    gap: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.add-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: darkseagreen;
}

.add-btn:hover {
    background-color: mediumseagreen;
    cursor: pointer;
}

.remove-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: lightcoral;
}

.remove-btn:hover {
    background-color: crimson;
    cursor: pointer;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 32px;
    width: max-content;
    justify-self: center;
    padding: 32px;
}

.card-style {
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    height: 350px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    overflow-wrap: anywhere;
    overflow: auto;
}

#new-book-dialog {
    border: none;
    border-radius: 28px;
    height: 350px;
    width: 400px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

/* From Uiverse.io by barisdogansutcu */
.btn {
    width: 130px;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.btn:hover {
    letter-spacing: 3px;
    color: hsl(0, 0%, 100%);
}

.btn:active {
    letter-spacing: 3px;
    color: hsl(0, 0%, 100%);
    transform: translateY(5px);
    transition: 100ms;
}

.add {
    background-color: darkseagreen;
    justify-self: center;
}

.add:hover {
    background-color: mediumseagreen;
    box-shadow: mediumseagreen 0px 7px 29px 0px;
}

.add:active {
    background-color: mediumseagreen;
    box-shadow: mediumseagreen 0px 0px 0px 0px;
}

.remove {
    background-color: lightcoral;
}

.remove:hover {
    background-color: crimson;
    box-shadow: crimson 0px 7px 29px 0px;
}

.remove:active {
    background-color: crimson;
    box-shadow: crimson 0px 0px 0px 0px;
}

.close-btn {
    height: fit-content;
    width: fit-content;
    justify-self: right;
    border: none;
    background-color: white;
}

.close-btn-span {
    justify-self: right;
    margin: 8px;
    cursor: pointer;
}

.close-btn-span:hover {
    color: lightcoral;
}

form>div>input:is([type="text"], [type="number"]) {
    border: none;
    border-bottom: 3px solid darkseagreen;
    border-radius: 5px;
    width: 200px;
    height: 20px;
}

form>div>input:is([type="text"], [type="number"]):focus {
    border: none;
    outline: 3px solid darkseagreen;
}

form>div>input[type="checkbox"] {
    accent-color: darkseagreen;
}

.close-btn-container {
    display: grid;
    grid-template-rows: 40px 1fr;
    height: inherit;
    width: inherit;
}

h1, h2 {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}


.playfair-display-style {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

