form{
    display:flex; 
    flex-direction: column; 
    gap: 16px;
}

.add-btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: darkseagreen;
}

.add-btn:hover{
    background-color: mediumseagreen;
    cursor: pointer;
}

.remove-btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: lightcoral;
}

.remove-btn:hover{
    background-color: crimson;
    cursor: pointer;
}

#cards-container{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 16px;
}